@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger::after{
  content: '';
  display: block;
  width: 70%;
  height: 70%;
  color: white;
  stroke: white;
  background: url('/src/assets/icons/hamburger.svg');
}

.ratio-2\/1{
  aspect-ratio: 2 / 1;
}
